body {
    margin: auto;
    width: 100%;
    max-width: 1024px;
    background-color: #999;
    font-size: 62.5%;
}

#mainHeading {
    margin-top: 15px;
    background-color: #00d6fd;
    text-align: center;
}

.funParagraph {
    color: green;
}

img {
    max-width: 100%;
    height: auto;
}

#back-to-top {
    margin-left: 80%;
}

main {
    margin-top: 100px;
    text-align: center;
}

section {
    margin-bottom: 100px;
}

header, main, footer, #back-to-top {
    background-color: #ddd;
    font-size: 1.6em;
}

#program {
    width: 100%;
}
